.messageBorder {
    filter: drop-shadow(0px 0px 3px #05C7F2);
  }
.emailBorderOn{
    filter: drop-shadow(0px 0px 3px #05C7F2);
    animation: animationOn 1s ease-out;
  }
.emailBorderOff {
    filter: drop-shadow(0px 0px 3px #05C7F2);
    animation: animationOff 1s ease-out;
  }

  @keyframes animationOn {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
  } 
  @keyframes animationOff {
    0% {
      opacity: 1;
      height: 100%;
    }
    100% {
        opacity: 0;
        height: 0;
    }
  } 

.message {
    background: rgba(0, 0, 0, 0.066);
    padding: 12px;
    box-shadow: inset 0 0 3px #05C7F2;
    border-radius: 10px;
    /* animation: text-glow 1s ease-in-out infinite alternate; */
}
.messageMail {
    background: rgba(9, 44, 174, 0.743);
    padding: 12px;
    box-shadow: inset 0 0 3px #05C7F2;
    border-radius: 10px;
    /* animation: text-glow 1s ease-in-out infinite alternate; */
}

/* @keyframes text-glow {
    from {
      box-shadow: 0 0 0px #05C7F2;
    }
    to {
      box-shadow: 0 0 5px #05C7F2;
    }
  } */

    
.messageTitle {
    font-weight: bolder;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alertMail {
    font-weight: bolder;
    font-size: 20px;
    color: #05C7F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-icon {
    width: 40px;
    height: 40px;
    color: #05C7F2;
}